.App {
  text-align: center;
}

.time-display {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10vw;
  margin: auto;
  background: #F5F5F5;
  width: fit-content;
  align-content: center;
  margin-top: 10vw;
  border-radius: 3vw;
  padding: 3vw;
  border-style: solid;
}

.major-button {
  background-color: #ABBDC4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vw;
  text-align: center;
  margin: auto;
  width: -moz-fit-content;
  width: 20vw;
  align-self: center;
  /* box-shadow: 5px 5px #888888; */
  margin: 1vw;
  border-radius: 3vw;
  padding: 2vw;
}

.major-button:hover {background-color: #ABBDC4}

.major-button:active {
  background-color: #ABBDC4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.minor-button {
  background-color: #DEBEBA;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5vw;
  text-align: center;
  margin: auto;
  width: -moz-fit-content;
  width: 20vw;
  align-self: center;
  /* box-shadow: 5px 5px #888888; */
  margin: 1vw;
  border-radius: 3vw;
  padding: 0.5vw;
}

.minor-button:hover {background-color: #DEBEBA}

.minor-button:active {
  background-color: #DEBEBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}